body {
  margin: 0;
  padding: 0;
  color: white;
}

.nav-text {
  display: flex;
}

.nav-text,
.prices,
.burgerTitle,
h2,
h3,
h4,
h5 {
  color: #7d2016;
  font-family: "Bebas Neue";
}

.logo {
  width: 150px;
  height: 150px;
  padding-bottom: 20px;
}

.header {
  background: #2b2d2e;
  position: relative;
  margin: 0 100px 0 100px;
}

.burgerImg {
  padding-top: 0;
  position: absolute;
}

.rest {
  color: lightslategrey;
  margin-bottom: 0;
}

.header {
  font-size: 13px;
}

.fa-cutlery,
.sign {
  color: white;
}

.searchBtn {
  background-color: #7d2016;
  outline-offset: -6px;
  outline: 1px solid whitesmoke;
  width: 50px;
  height: 30px;
  padding: 0;
  border: none;
}

.searchbar {
  width: 225px;
  background-color: white;
}

.hero {
  background: url("/assets/burgerlove-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
}

.redBorder {
  background-color: #7d2016;
  margin-top: 100px;
  text-align: center;
  outline-offset: -15px;
  outline: 1px solid whitesmoke;
  height: 700px;
  border: none;
  width: 100%;
}

h1 {
  margin: 100px auto;
  padding: 100px 50px;
  text-align: center;
}

.heading {
  color: white;
}

.hr1 {
  width: 10%;
  position: absolute;
  left: 0;
  margin-left: 30%;
  top: 15%;
}

.hr2 {
  width: 10%;
  position: absolute;
  right: 0;
  margin-right: 30%;
  top: 15%;
}

.hr {
  background-color: whitesmoke;
}

.heading > div {
  background: #7d2016;
}

.dot {
  height: 100px;
  width: 100px;
  background-color: #2b2d2e;
  border-radius: 50%;
}

.burgerTitle,
.price {
  color: white;
  font-size: 30px;
  font-family: "Bebas Neue";
  margin-bottom: 0;
}

.footerText {
  color: #7d2016;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.footerBtn {
  background-color: #7d2016;
  outline-offset: -10px;
  outline: 1px solid whitesmoke;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  color: white;
}

p,
span {
  color: white;
  font-family: "Lato";
}
